/* Dark mode colors. */
:root {

	/* Nord */

    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

	/* Custom */

	--pureblack: #000000;
    --abyss: #000011;
    --malachite: #001100;
    --basalt: #111111;

    --burntorange: #972e0e;

    --ash: #222222;
    --twilight: #110033;

	/* Reference */

	--refsl-color-accent-low: #00263f;
	--refsl-color-accent: #0070ac;
	--refsl-color-accent-high: #95d0ff;
	--refsl-color-white: #ffffff;
	--refsl-color-gray-1: #ededf2;
	--refsl-color-gray-2: #c8c8cd;
	--refsl-color-gray-3: #a3a2ae;
	--refsl-color-gray-4: #575761;
	--refsl-color-gray-5: #383740;
	--refsl-color-gray-6: #26262e;
	--refsl-color-black: #18181c;

	--refsl-color-accent-low: #b2ddff;
	--refsl-color-accent: #005686;
	--refsl-color-accent-high: #003556;
	--refsl-color-white: #18181c;
	--refsl-color-gray-1: #26262e;
	--refsl-color-gray-2: #383740;
	--refsl-color-gray-3: #575761;
	--refsl-color-gray-4: #8b8a95;
	--refsl-color-gray-5: #c1c1c7;
	--refsl-color-gray-6: #ededf2;
	--refsl-color-gray-7: #f6f6f8;
	--refsl-color-black: #ffffff;

    /* Starlight Specific */




	--sl-color-accent-low: var(--abyss);
	--sl-color-accent: var(--nord15);
	--sl-color-accent-high: var(--nord12);
	--sl-color-white: var(--nord6);
	--sl-color-gray-1: var(--nord13);
	--sl-color-gray-2: var(--nord4);
	--sl-color-gray-3: var(--nord7);
	--sl-color-gray-4: var(--nord14);
	--sl-color-gray-5: var(--nord11);
	--sl-color-gray-6: var(--nord0);
	--sl-color-black: var(--ash);

	--sl-font: 'Inter', sans-serif;

	em{
		color: var(--nord14);

		strong{
			color: var(--nord15);
		}
	}

	strong{
		color: var(--nord11);
	}
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: var(--abyss);
	--sl-color-accent: var(--nord10);
	--sl-color-accent-high: var(--nord10);
	--sl-color-white: var(--nord1);
	--sl-color-gray-1: var(--nord13);
	--sl-color-gray-2: var(--nord0);
	--sl-color-gray-3: var(--abyss);
	--sl-color-gray-4: var(--nord14);
	--sl-color-gray-5: var(--burntorange);
	--sl-color-gray-6: var(--nord6);
	--sl-color-gray-7: var(--nord0);
	--sl-color-black: white;
}

h1{
	font-family: 'Sometype Mono Variable', monospace;
}

h2{
	font-family: 'Noto Sans Variable', sans-serif;
}
