---

//Imports
import '../styles/global.css';

import Footer from '../layouts/Footer.astro';
import Navbar from '../layouts/Navbar.astro';

//Configurables
const pageTitle = "About";
---

<html lang="en">
    <head>
		<!-- General HTML Setup -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicon Setup -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/appletouchicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon16x16.png">
		<link rel="icon" type="image/png" href="/assets/favicon.ico"/>
		<link rel="manifest" href="/assets/site.webmanifest">

		<!-- Astro Setup -->
		<meta name="generator" content={Astro.generator} />
		<title>M/S - {pageTitle}</title>

	</head>

	<Navbar path={pageTitle}/>

    <div class="block">
		<h1>About Me</h1>
		<h2>Hi!</h2>
		<p>I'm an aspiring dev who mainly dabbles in more hardware related stuff such as CAD and 3D printing.</p>
		<hr>
		<h2>My experience:</h2>
		<p>Software is a relatively new interest for me, most of my experience is with 3D design and printing. However, here are some of the things I'm experienced in:</p>
		<h3>Software</h3>
		<ul>
			<li>Python</li>
			<li>Arduino</li>
			<li>HTML/CSS</li>
		</ul>
		<h3>Hardware</h3>
		<ul>
			<li>Autodesk Fusion</li>
			<li>3D printing
				<ul><li>Certified SOLIDWORKS associate in Additive Manufacturing</li></ul>
			</li>
		</ul>
		<hr>
		<h3>To see some of my projects, check out the Projects tab :)</h3>
	</div>

	<div class="block">
		<h1>About the site</h1>
		<p>
			WIP
		</p>
	</div>
	
	<Footer />
</html>
