---

//Imports
import '../styles/global.css';

import Footer from '../layouts/Footer.astro';
import Navbar from '../layouts/Navbar.astro';

//Configurables
const pageTitle = "Changelog";
---

<html lang="en">
    <head>
		<!-- General HTML Setup -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicon Setup -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/appletouchicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon16x16.png">
		<link rel="icon" type="image/png" href="/assets/favicon.ico"/>
		<link rel="manifest" href="/assets/site.webmanifest">

		<!-- Astro Setup -->
		<meta name="generator" content={Astro.generator} />
		<title>M/S - {pageTitle}</title>

	</head>

	<Navbar path={pageTitle}/>
	
    <div class="block">
        <h1>Changelog</h1>
		<p>
			WIP As I migrate parts from older versions of the site.
		</p>
    </div>

	<div class="block">
		<h1>12/12/2024</h1>
		<h2>Complete Migration to Astro</h2>
	</div>

	<div class="block">
		<h1>12/6/2024</h1>
		<h2>Complete Migration to SvelteKit</h2>
		<ul>
			<li>Attempting to tweak styling and such</li>
		</ul>
		<p>
			12/12 EDIT: As it turns out, SvelteKit is really annoying in terms of including global CSS in addition to general file organization, so this version of the site was scrapped.
		</p>
	</div>

	<div class="block">
		<h1>6/14/2024</h1>
		<ul>
			<li>Fully implemented home icon as link to index page</li>
			<li>added foundation for mobile formatting (oh crap the gradients are gonna make this hard aren't they)</li>
			<li>Update, who needed gradients anyway, we don't need them (also heeeey the navbar works now on mobile)</li>
		</ul>
	</div>

	<div class="block">
		<h1>4/18/2024</h1>
		<ul>
			<li>fixed colors and spacing</li>
		</ul>
	</div>

	<div class="block">
		<h1>3/25/2024</h1>
		<ul>
			<li><h2>new header formatting</h2></li>
			<li>new navbar hover and current page indicators</li>
			<li>opened up About page</li>
			<li>Added Lato font</li>
		</ul>
	</div>

	<div class="block">
		<h1>3/24/2024</h1>
		<ul>
			<li>Tweaked effects in title page</li>
		</ul>
	</div>

	<div class="block">
		<h1>3/22/2024</h1>
		<ul>
			<li>Set up changelog page (old site)</li>
			<li>stylesheet changes (oh crap the stylesheet is 409 lines and I'm not done yet)</li>
			<li>added the other html files (not linked yet)</li>
		</ul>
	</div>
	
	<Footer />
</html>
