---
const { path } = Astro.props;
---
<style>
    .navbar{

        width: 100%;
        margin: 0;
        border: 0;
        padding: 0.25rem;

        color: var(--nord12);

        text-align: left;
       

        font-family: "Sometype Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;

        font-size: 2rem;

        a{
            color: var(--nord6);
            text-decoration: none;
        }
    }
    

</style>


<html lang="en">
    <meta name="viewport" content="width=device-width" />


    <slot />
    <div class="navbar">
        <a href = "/">MoonriseSunset/</a>{path}
    </div>
</html>